<div class="faq-wrapper">
  <h3 class="title">
    {{faqTitle}}
  </h3>
  <span class="text">
    {{faqTxt}}
  </span>
  <div *ngFor="let card of questionsAndAnswers; let i = index" class="faq-card">
    <span class="question">
      {{card.question}}
    </span>
    <svg [class.active]="isActive === true" (click)="showAnswer()" class="arrow" xmlns="http://www.w3.org/2000/svg"
      width="18" height="12">
      <path fill="none" stroke="#5267DF" stroke-width="3" d="M1 1l8 8 8-8" /></svg>
    <hr>
    <span [class.active]="isActive === true" class="answer">
      {{card.answer}}
    </span>
  </div>
  <button class="btn more">
    More info
  </button>
</div>
