.faq-wrapper{
    padding: 2em;
    text-align: center;
}
.faq-wrapper .more{
    margin: 2em auto;
    box-shadow: none;
    transition: .3s;
}

.faq-wrapper .more:hover{
    background-color: transparent;
    color: var(--soft-blue);
    border: 2px solid var(--soft-blue);
}
.faq-card {
    position: relative;
    text-align: left;
}
.faq-card hr{
    color: #ddd;
}
.faq-card .question{
    padding: 1em 0;
    display: inline-block;
}
.faq-card .answer{
    display: block;
    padding: 2em 0;
    line-height: 1.5;
    color: var(--grayish-blue);
    /* animation */
    transition: 4s ease-in-out;
   animation-name: slideDown;
   animation-duration: 1s;
}
@keyframes slideDown {
    0%{
        transform: skewY(-100%);
    }
    50%{
        transform: skewY(8%);
    }
    65%{
        transform: skewY(-4%);
    }
    80%{
        transform: skewY(4%);
    }
    95%{
        transform: skewY(-2%);
    }
    100%{
        transform: skewY(0%);

    }
}
.faq-card .arrow{
    position: absolute;
    top: 23px;
    right: 5px;
    cursor: pointer;
}
.up-arrow{
    transition: 0.2s ease-out;
}

/* active states */
.faq-card .arrow.active {
     animation-name: icon;
    transform: rotate(180deg);
    filter: invert(73%) sepia(75%) saturate(5100%) hue-rotate(326deg) brightness(100%) contrast(97%);
    /* transition: 0.2 ease-out; */
}

.faq-card .answer.active{
    display: block;
    /* max-height: 400px; */
}

@media screen and (min-width:1025px){
    .faq-wrapper{
        margin: auto;
        max-width: 600px;
    }
}