.faq-wrapper{
    padding: 2em;
    text-align: center;
}
.faq-wrapper .more{
    margin: 2em auto;
    box-shadow: none;
    transition: .3s;
}

.faq-wrapper .more:hover{
    background-color: transparent;
    color: var(--soft-blue);
    border: 2px solid var(--soft-blue);
}
.faq-card {
    position: relative;
    text-align: left;
}
.faq-card hr{
    color: #ddd;
}
.faq-card .question{
    padding: 1em 0;
    display: inline-block;
}
.faq-card .answer{
    padding: 2em 0;
    line-height: 1.5;
    color: var(--grayish-blue);
    display: none;
}
.faq-card .arrow{
    position: absolute;
    top: 23px;
    right: 5px;
}

/* active states */
.faq-card .arrow.active {
    transform: rotateX(180deg);
}
.faq-card .answer.active{
    display: block;
}

@media screen and (min-width:1025px){
    .faq-wrapper{
        margin: auto;
        max-width: 600px;
    }
}