<div class="faq-wrapper">
  <h3 class="title">
    {{faqTitle}}
  </h3>
  <span class="text">
    {{faqTxt}}
  </span>
  <div *ngFor="let card of questionsAndAnswers" class="faq-card">
    <span class="question">
      {{card.question}}
    </span>
    <img [class.active]="id === card.idx" (click)="showAnswer(card.idx)" class="arrow up-arrow"
      src="./assets/images/icon-arrow.svg" alt="">
    <hr>
    <span *ngIf="id === card.idx" class="answer">
      {{card.answer}}
    </span>
  </div>
  <button class="btn more">
    More info
  </button>
</div>
