.header-wrapper {
    margin: 3em 1em;
    text-align: center;
}
.header-wrapper img{
    width: 100%;
}
.header-wrapper .header-content{
    margin: 2em auto;
    max-width: 600px;
}

/* header btn's */
.header-wrapper .header-content .btn:hover{
    /* background-color: transparent; */
    border: 2px solid var(--soft-blue);
    color:var(--soft-blue);
}
.header-wrapper .header-content .btn-chrome{
    background-color: var(--soft-blue);
}
.header-wrapper .header-content .btn-fire{
    background-color: #fff;
    color: #000;
}

/* hover states */
.header-wrapper .header-content .btn-chrome:hover{
    background-color: #fff;
}
.header-wrapper .header-content .btn-fire:hover{
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}

@media screen and (min-width:1025px){
    .header-wrapper {
        margin: 3em auto;
        padding: 0 2em;
        max-width: 1600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "content image";
    }
    .header-wrapper img {
        grid-area: image;
    }
    .header-wrapper .header-content{
        inset: 0;
        margin: auto 2em;
        text-align: left;
        grid-area: content;
    }
    .header-wrapper .header-content .title{
        font-size:40px;
    }
    .header-wrapper .header-content .btn-chrome {
        margin-left: 0;
    }
}