.footer-wrapper{
    text-align: center;
}

/* footer newsletter section */
.newsletter, .footer{
    padding: 2em;
    background-color: var(--soft-blue);
    color: #fff;
}
.newsletter .title,.footer-wrapper .newsletter .submit{
    display: block;
}
.newsletter form {
    margin: 1em auto;
}
.newsletter input{
    padding: 12px;
    width: 80%;
    border-radius: 4px;
    border-style: none;
}
.newsletter .submit{
    margin: .5em auto;
    width: 80%;
    box-shadow: none;
    background-color: var(--soft-red);
    transition: .3s;
}
.newsletter .submit:hover{
    background-color: #fff;
    color: var(--soft-red);
    border: 2px solid var(--soft-red);
}

/* footer nav section */
.footer{
    background-color: var(--very-dark-blue);
}
.footer nav ul li {
    margin: 1em;
    list-style: none;
}
.footer nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.footer nav ul li a:hover{
    color: var(--soft-red);
}
.footer svg{
    margin: 1em;
}
.footer svg:hover{
    fill: var(--soft-red)
}