.footer-wrapper{
    text-align: center;
}

/* footer newsletter section */
.newsletter, .footer{
    padding: 2em;
    background-color: var(--soft-blue);
    color: #fff;
}
.newsletter .title,.newsletter .users,.newsletter .submit{
    display: block;
}
.newsletter .users{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.newsletter form {
    margin: 1em auto;
}
.newsletter input{
    padding: 12px;
    width: 80%;
    border-radius: 4px;
    border-style: none;
}
.newsletter .submit{
    margin: .5em auto;
    width: 80%;
    box-shadow: none;
    background-color: var(--soft-red);
    transition: .3s;
}
/* .newsletter .submit .ng-invalid{
    background-color: #ddd;
} */
.newsletter .submit:hover{
    background-color: #fff;
    color: var(--soft-red);
    border: 2px solid var(--soft-red);
}

/* invalid input error message  */
.newsletter .error{
    margin: auto;
    padding: 5px 10px;
    display: block;
    width: 80%;
    font-size: 12px;
    text-align: left;
    background-color: var(--soft-red);
    border-radius: 0 0 4px 4px;
}

/* footer nav section */
.footer{
    background-color: var(--very-dark-blue);
}
.footer nav ul li {
    margin: 1em;
    list-style: none;
}
.footer nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.footer nav ul li a:hover{
    color: var(--soft-red);
}
.footer svg{
    margin: 1em;
}
.footer svg:hover{
    fill: var(--soft-red)
}

/* attribiutions */
.attribution { 
    margin: 10px auto;
    font-size: 11px; 
}
.attribution a { 
        color: var(--soft-blue);
     }
@media screen and (min-width:1025px){
    .newsletter{
        padding: 4em;
    }
    .newsletter .users{
        margin-bottom: 30px;
    }
    .newsletter .title{
        font-size: 20px;
    }
    .newsletter .submit{
        margin:10px;
        display: inline-block;
        width: 15%;
    }
    .newsletter input,.newsletter .error{
        width: 30%;
    }
    
    /* footer nav section */
    .footer{
        padding: 1em 5em;
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-areas: 
        "logo nav socials"
        "attrib attrib attrib";
    }
    .footer .logo{
        grid-area: logo;
    }
    .footer nav{
        grid-area: nav;
    }
    .footer .socials{
        grid-area: socials;
    }
    .footer .attribution{
        grid-area: attrib;
    }
    .footer nav ul{
        display: flex;
    }
    .footer nav ul li, .footer svg {
        margin: 0 1em;
    }
}