.top-nav-wrapper{
    padding: 1em;
}
.hamburger-icon,.close-icon{
    position: absolute;
    top: 20px;
    right: 20px;
}
.close-icon{
    display: none;
}
nav {
    display: none;
    text-align: center;
}
nav ul li {
    list-style: none;
    border-bottom: 1px solid rgba(221, 221, 221,.5);
}
nav ul li:nth-child(4){
    border-style:none;
}
nav ul li a{
    margin: 1em;
    display: block;
    text-decoration: none;
    color: #fff;
}
.btn-login{
    margin: 1em auto;
    width: 90%;
    background-color: transparent;
    box-shadow: none;
    border:2px solid #fff;
}
.socials{
   margin-top: 10em;
}
.socials svg{
    margin: 1em;
}

/* active states */
nav.active{
    display: block;
}
.top-nav-wrapper.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mobile-nav-active);
}

.close-icon.active{
    display: block;
}
.hamburger-icon.active{
    display: none;
}

@media screen and (min-width:1025px){
    .top-nav-wrapper{
        padding: 2em 4em;
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
        "logo nav";
    }
    .hamburger-icon,.socials{
        display: none;
    }
    .logo{
        grid-area: logo;
    }
    nav{
        display: block;
        grid-area: nav;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
    nav ul li{
        border-style: none;
    }
    nav ul li a{
        margin: 0 2em;
        color: var(--very-dark-blue);
        transition: .3s;
    }
    nav ul li a:hover{
        color: var(--soft-red);
    }
    .btn-login{
        margin: 0;
        background-color: var(--soft-red);
        transition: .3s;
    }
    .btn-login:hover{
        background-color: transparent;
        color: var(--soft-red);
        border: 2px solid var(--soft-red);
    }
}